.singin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
  
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;

    overflow: hidden;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__invite {
    max-width: 250px;
    text-align: center;
    margin-bottom: 10px;
  }
}
